<p id="notice"><%= notice %></p>

<h1>Listing Moviedetails</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Rated</th>
      <th>Awards</th>
      <th>Metascore</th>
      <th>Imdbrating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moviedetails.each do |moviedetail| %>
      <tr>
        <td><%= moviedetail.title %></td>
        <td><%= moviedetail.year %></td>
        <td><%= moviedetail.rated %></td>
        <td><%= moviedetail.awards %></td>
        <td><%= moviedetail.metascore %></td>
        <td><%= moviedetail.imdbrating %></td>
        <td><%= link_to 'Show', moviedetail %></td>
        <td><%= link_to 'Edit', edit_moviedetail_path(moviedetail) %></td>
        <td><%= link_to 'Destroy', moviedetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moviedetail', new_moviedetail_path %>
