<h1>Info#infoalltitles</h1>
<p>Find me in app/views/info/infoalltitles.html.erb</p>
<h3>Titles <%= @responsealltitles %> </h3>
<table>
<thead>
<tr>
<th>Title</th>
<th>Year</th>
<th>imdbID</th>

<% puts @responsealltitles%>
</tr>
</thead>
<tbody>
<tr>

<% @responsealltitles["Search"].each do |result| %>
<td><%= result["Title"] %> </td>
<td><%= result["Year"] %></td>
<td><%= result["imdbID"] %></td>
<td><%= submit_tag("Search for Rating") %> 
<%= label_tag(:findrating, "Show Move Rating") %>
<%= form_tag("findrating ", method: "post") do %></td>


<% end %>


</tr>
<% end %>
</tbody>
</table>
<br>
<br>
<%= link_to 'Home', root_path %>
